<p>clientes-nuestros works!</p>
<div class="row">
    <div class="col-3" *ngFor="let cliente of tarjeta">
        <div class="card" style="width: 18rem;">
            <div class="card-body"  >
              <h5 class="card-title">{{cliente.nombre}}</h5>
              <p class="card-text">{{cliente.apellido}}</p>
              <p class="card-text">{{cliente.telefono}}</p>
              <p class="card-text">{{cliente.genero}}</p>
              
            </div>
          </div>    

    </div>

</div>


